.bundle
.DS_Store
config/database.yml
db/*.sqlite3
db/*.sqlite
db/*.sqlite3-journal
log/*.log
tmp/
.sass-cache/
.DS_store
coverage
doc/api
doc/app
curriculum/.pygments-cache
curriculum/public/*
public/assets
*.tmproj
*~
\#*#
.idea/
ignored/
.irb-save-history
chromedriver.log
.tddium*
bin/
.env
*.swp

Yummly.configure do |config|
  config.app_id = "5330fef5"
  config.app_key = "a85eaf71b9918d6ec019eb5f16e99337"
  config.use_ssl = true # Default is false
end
