<div id="recipe">
  <div class="recipebox">
    <form action="/search_recipe" method="post">
      <input type="text" name="ingredients_search" placeholder="Placeholder"/>
      <input type="submit" value="Search Recipes" class="add" >
    </form>
  </div>


