<div class="container span_4_of_4">
  <div class="header span_4_of_4">
    <h1 class="3square span_2_of_4">3 Square</h1>
  </div>

  <nav class="topnav span_4_of_4">
    <ul class="navbar">
      <li><a href="SEARCH ERB">Seach Recipes</a></li>
      <li><a href="RECIPE LIST ERB">View My Recipes</a></li>
      <li><a href="MENU ERB">Menu Planner</a></li>
      <li><a href="SHOPPING LIST ERB">Shopping List</a></li>
       <li><div class="recipebox">
      <form action="/search_recipe" method="post">
        <input type="text" name="ingredients_search" placeholder="Placeholder"/>
        <input type="submit" value="Search Recipes" class="add" >
      </form>
     </div></li>
    </ul>
  </nav>



<!-- <div class="main span_3_of_4 ">
    <div class="recipe_card">
      ERB MEAL AND DAY
      <div class="recipe_image">
        ERB IMAGE
      </div>
      <div class="recipe_text">
       ERB INGREDIENTS<br/>
       ERB DESCRIPTION
       ERB INSTRUCTIONS
      </div>
    </div>
  </div> -->

</div>


