<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>3 Square</title>
</head>
<body>
  <div class="container span_4_of_4">
    <div class="header span_4_of_4">
      <h1 class="3square span_2_of_4">3 Square</h1>
    </div>

    <nav class="topnav span_4_of_4">
      <ul class="navbar">
        <li><a href="/">Search Recipes</a></li>
        <li><a href="/saved_recipes">Saved Recipes</a></li>
        <li><div class="search">
          <form action="/" method="post" id="search" data-ajax-search="<%= @ajax_search %>">
            <input type="text" name="ingredients_search" placeholder="Type an Ingredient"/>
            <input type="submit" value="Search Ingredients" class="add" >
          </form>
        </div></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
  <script src="/js/application.js"></script>
</body>
</html>
