<div id="<%=recipe.id%>" class="recipe" draggable="true">
  <h2><%=recipe.recipe_name%></h2>
  <ul>
    <li><a href="#" class="delete">Delete</a></li>
    <li><a href="#" class="complete">Complete</a></li>
  </ul>
</div>
