
<div class="span_4_of_4">
  <ul><% @first_ten.each do |recipe| %>
   <li class="search_results_list_items span_1_of_4">
    <a href="http://yummly.com/recipe/<%= recipe["id"] %>">
      <%= recipe["recipeName"] %></a></br>
       <% recipe["ingredients"].each do |ingredient| %>
          <%= ingredient %><br/>
        <% end %>
       <button id="save_recipe_button">Save this Recipe</button>
     </li>
   <% end %>
  </ul>
</div>

