<div class="container span_4_of_4">
  <div class="header span_4_of_4">
    <h1 class="3square span_2_of_4">3 Square</h1>
</div>

<nav class="topnav span_4_of_4">
    <ul class="navbar">
      <li><a href="SEARCH ERB">Seach Recipes</a></li>
      <li id="menu_planner"><a href="/menu">Menu Planner</a></li>
      <li><a href="/shopping_list">Shopping List</a></li>
       <li><div class="recipebox">
      <form action="/search_recipe" method="post" id="search">
        <input type="text" name="ingredients_search" placeholder="Type an Ingredient"/>
        <input type="submit" value="Search Ingredients" class="add" >
      </form>
     </div></li>
    </ul>
  </nav>
